<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>显示查票信息</title>

</head>
<body>
<font color="red" size=4px>1.G7504车次还有余票:</font><br>
出发时间:06:29 到达时间:10:20 历时多久:03:51 无座:有9张票 一等座:有票<br>
<br>
<font color="red" size=4px>2.G7330车次还有余票:</font><br>
出发时间:06:38 到达时间:10:15 历时多久:03:37 无座:有票<br>
<br>
<font color="red" size=4px>3.G7572车次还有余票:</font><br>
出发时间:06:43 到达时间:11:06 历时多久:04:23<br>
<br>
<font color="red" size=4px>4.G7506车次还有余票:</font><br>
出发时间:07:36 到达时间:11:36 历时多久:04:00 无座:有票 商务座:有1张票<br>
<br>
<font color="red" size=4px>5.G1228车次还有余票:</font><br>
出发时间:07:36 到达时间:11:10 历时多久:03:34 商务座:有4张票<br>
<br>
<font color="red" size=4px>6.G7586车次还有余票:</font><br>
出发时间:07:42 到达时间:11:46 历时多久:04:04<br>
<br>
<font color="red" size=4px>7.G7576车次还有余票:</font><br>
出发时间:07:48 到达时间:12:10 历时多久:04:22<br>
<br>
<font color="red" size=4px>8.G7332车次还有余票:</font><br>
出发时间:08:27 到达时间:11:51 历时多久:03:24 无座:有14张票<br>
<br>
<font color="red" size=4px>9.G7368车次还有余票:</font><br>
出发时间:08:38 到达时间:12:00 历时多久:03:22 无座:有票<br>
<br>
<font color="red" size=4px>10.G7540车次还有余票:</font><br>
出发时间:09:00 到达时间:13:08 历时多久:04:08 无座:有票 二等座:有票 一等座:有2张票<br>
<br>
<font color="red" size=4px>11.D382车次还有余票:</font><br>
出发时间:09:41 到达时间:13:54 历时多久:04:13 无座:有票<br>
<br>
<font color="red" size=4px>12.D3102车次还有余票:</font><br>
出发时间:09:55 到达时间:14:14 历时多久:04:19 无座:有20张票 二等座:有票 一等座:有3张票<br>
<br>
<font color="red" size=4px>13.D3104车次还有余票:</font><br>
出发时间:10:38 到达时间:15:24 历时多久:04:46 无座:有票 二等座:有票 一等座:有19张票<br>
<br>
<font color="red" size=4px>14.K8402车次还有余票:</font><br>
出发时间:11:20 到达时间:20:49 历时多久:09:29 软卧:有7张票 无座:有票 硬卧:有票 硬座:有票<br>
<br>
<font color="red" size=4px>15.G7546车次还有余票:</font><br>
出发时间:11:20 到达时间:15:32 历时多久:04:12 无座:有票 二等座:有17张票 一等座:有1张票<br>
<br>
<font color="red" size=4px>16.G7334车次还有余票:</font><br>
出发时间:11:24 到达时间:15:08 历时多久:03:44 无座:有票 二等座:有票 一等座:有票 商务座:有1张票<br>
<br>
<font color="red" size=4px>17.D3142车次还有余票:</font><br>
出发时间:11:50 到达时间:15:55 历时多久:04:05<br>
<br>
<font color="red" size=4px>18.G7516车次还有余票:</font><br>
出发时间:12:17 到达时间:16:29 历时多久:04:12 无座:有票 二等座:有票 一等座:有票 商务座:有6张票<br>
<br>
<font color="red" size=4px>19.G7322车次还有余票:</font><br>
出发时间:12:34 到达时间:15:42 历时多久:03:08 无座:有票<br>
<br>
<font color="red" size=4px>20.G7592车次还有余票:</font><br>
出发时间:12:43 到达时间:16:21 历时多久:03:38 无座:有票 商务座:有7张票<br>
<br>
<font color="red" size=4px>21.G7326车次还有余票:</font><br>
出发时间:13:03 到达时间:16:25 历时多久:03:22 无座:有票 二等座:有票 一等座:有票 商务座:有1张票<br>
<br>
<font color="red" size=4px>22.D3136车次还有余票:</font><br>
出发时间:13:27 到达时间:17:42 历时多久:04:15 无座:有票 一等座:有1张票<br>
<br>
<font color="red" size=4px>23.G1674车次还有余票:</font><br>
出发时间:13:57 到达时间:18:05 历时多久:04:08 二等座:有票 一等座:有票<br>
<br>
<font color="red" size=4px>24.G7600车次还有余票:</font><br>
出发时间:14:02 到达时间:18:13 历时多久:04:11 无座:有票 二等座:有票 商务座:有9张票<br>
<br>
<font color="red" size=4px>25.D3292车次还有余票:</font><br>
出发时间:14:16 到达时间:18:37 历时多久:04:21 无座:有20张票 一等座:有票<br>
<br>
<font color="red" size=4px>26.D3126车次还有余票:</font><br>
出发时间:14:28 到达时间:18:42 历时多久:04:14 无座:有票 二等座:有5张票 一等座:有票<br>
<br>
<font color="red" size=4px>27.G7336车次还有余票:</font><br>
出发时间:14:36 到达时间:17:53 历时多久:03:17 无座:有票 二等座:有票 商务座:有2张票<br>
<br>
<font color="red" size=4px>28.G7550车次还有余票:</font><br>
出发时间:14:45 到达时间:19:31 历时多久:04:46 无座:有票 二等座:有票 一等座:有票 商务座:有11张票<br>
<br>
<font color="red" size=4px>29.G7588车次还有余票:</font><br>
出发时间:15:39 到达时间:19:51 历时多久:04:12 无座:有票 二等座:有票 一等座:有票 商务座:有17张票<br>
<br>
<font color="red" size=4px>30.D3108车次还有余票:</font><br>
出发时间:15:45 到达时间:19:59 历时多久:04:14 无座:有票 二等座:有票 一等座:有票<br>
<br>
<font color="red" size=4px>31.D3132车次还有余票:</font><br>
出发时间:16:00 到达时间:20:34 历时多久:04:34 无座:有票 二等座:有票 一等座:有票<br>
<br>
<font color="red" size=4px>32.G7596车次还有余票:</font><br>
出发时间:16:13 到达时间:20:07 历时多久:03:54 无座:有票 二等座:有票 一等座:有16张票 商务座:有8张票<br>
<br>
<font color="red" size=4px>33.G7582车次还有余票:</font><br>
出发时间:16:18 到达时间:20:30 历时多久:04:12 无座:有票 二等座:有票 一等座:有票 商务座:有18张票<br>
<br>
<font color="red" size=4px>34.D2284车次还有余票:</font><br>
出发时间:16:24 到达时间:20:44 历时多久:04:20 无座:有票 二等座:有票 一等座:有票<br>
<br>
<font color="red" size=4px>35.D3206车次还有余票:</font><br>
出发时间:16:37 到达时间:20:48 历时多久:04:11 无座:有票 一等座:有5张票<br>
<br>
<font color="red" size=4px>36.D2282车次还有余票:</font><br>
出发时间:16:50 到达时间:21:20 历时多久:04:30 无座:有票 二等座:有票 一等座:有票<br>
<br>
<font color="red" size=4px>37.D3202车次还有余票:</font><br>
出发时间:17:11 到达时间:21:47 历时多久:04:36 无座:有票 二等座:有票 一等座:有9张票<br>
<br>
<font color="red" size=4px>38.D3146车次还有余票:</font><br>
出发时间:17:40 到达时间:22:00 历时多久:04:20 无座:有票 二等座:有票 一等座:有票<br>
<br>
<font color="red" size=4px>39.D2286车次还有余票:</font><br>
出发时间:17:49 到达时间:22:12 历时多久:04:23 无座:有票 二等座:有票 一等座:有票<br>
<br>
<font color="red" size=4px>40.G7338车次还有余票:</font><br>
出发时间:17:57 到达时间:21:28 历时多久:03:31 无座:有票 二等座:有票 一等座:有2张票 商务座:有1张票<br>
<br>
<font color="red" size=4px>41.G7350车次还有余票:</font><br>
出发时间:18:10 到达时间:21:38 历时多久:03:28 无座:有票 二等座:有票 一等座:有票 商务座:有14张票<br>
<br>
<font color="red" size=4px>42.D378车次还有余票:</font><br>
出发时间:18:21 到达时间:22:27 历时多久:04:06 无座:有票 二等座:有票 一等座:有票<br>
<br>
<font color="red" size=4px>43.D2288车次还有余票:</font><br>
出发时间:18:32 到达时间:22:35 历时多久:04:03 无座:有票 二等座:有票 一等座:有票<br>
<br>
<font color="red" size=4px>44.G7340车次还有余票:</font><br>
出发时间:18:34 到达时间:22:04 历时多久:03:30 无座:有票 二等座:有票 商务座:有1张票<br>
<br>
<font color="red" size=4px>45.G7528车次还有余票:</font><br>
出发时间:18:38 到达时间:22:31 历时多久:03:53 无座:有票 二等座:有票 一等座:有票 商务座:有16张票<br>
<br>
<font color="red" size=4px>46.G7536车次还有余票:</font><br>
出发时间:19:22 到达时间:23:18 历时多久:03:56 无座:有票 二等座:有票 一等座:有票 商务座:有14张票<br>
<br>
<font color="red" size=4px>47.G7462车次还有余票:</font><br>
出发时间:19:49 到达时间:23:05 历时多久:03:16 无座:有票 二等座:有票 一等座:有票 商务座:有11张票<br>
 
</body>
</html>